#postsUL {
    list-style: none;
    margin: 2%
}

body {
    background-color: #dedbdb !important;
}

.blogPostForm {
    margin-left: 2%;
    margin-right: 2%;
}

.pageTitle{
    text-align: center;
}

.menu {
    height: 75px;
}

.commentLI{
    list-style: none;
    background-color: #0b6efd;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
}

.postLI{
    background-color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.commentForm {
    margin: 10px;
}